<!DOCTYPE html>
<html>
	<body style="font-family:sans-serif;color:black;">
    	<table style="width:800px;background:#f0f0f0;padding:0px 100px;font-family:sans-serif;" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table style="padding: 30px 50px 30px 50px;background:#ffffff;margin-bottom:15px;" cellpadding="0" cellspacing="0">
                        <thead>
                        </thead>
                        <tbody> 
                            <tr>
                                <td>
                                    <h1 style="font-weight:100;font-size:40px;margin-top:0px;margin-bottom:20px;color:black;font-family:sans-serif;">
                                    	Welcome to Kumar Engineering
                                    </h1>
                                    <p style="font-size:15px;color:black;line-height:20px;padding-bottom:15px;">
                                    	{{Thankyou|raw}}
                                    </p>
                            		
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>  
                <td>
                    <a href="{{baseUrl}}">
                        <img style="max-width:100%;height:auto;border:none;" src="{{baseUrl}}/images/logo.png" />
                    </a>
                </td>
            </tr>
        </table> 
 	</body>
 </html>